{% extends 'header.html' %}
{% load static %}
{% block content %}
<!doctype html>
<html class="no-js" lang="en">


<head>
    
</head>
<body>

<!-- Main Wrapper Start -->
<div id="main-wrapper" class="section">
    
       
    <!-- Page Banner Section Start-->
    <div class="page-banner-section section" style="background-image: url({% static 'img/bg/page-banner.jpg' %})">
        <div class="container">
            <div class="row">
                
                <!-- Page Title Start -->
                <div class="page-title text-center col">
                    <h1>OTP</h1>
                </div>
                <!-- Page Title End -->
                
            </div>
        </div>
    </div><!-- Page Banner Section End-->
    
       
    <!-- Contact Section Start-->
    <div class="contact-section section bg-white pt-10">
        <div class="container">
            <div class="row">
                
                <div class="col-xl-10 col-12 ml-auto mr-auto">
                    
                    <div class="contact-wrapper" style="margin-bottom: 20px; margin-top: 10px;">
                        <div class="row">
                            <div class="contact-info col-lg-2 col-12">
                                <div class="contact-social">
                                </div>
                            </div>
                            <div class="contact-form col-lg-7 col-12">
                                <h4 class="title">Confirm OTP</h4>
                                {% if msg %}
                                   <font color= "red" ><b>{{msg}}</b> </font>
                                   <br>
                                {% endif %}

                                <form name="otp" action="{% url 'otppage' %}" method="post">
                                    
                                    {% csrf_token %}
                                    <input type="hidden" name="email" value="{{email}}">
                                    <input type="hidden" name="otp" value="{{otp}}">
                                    <input type="text" name="userotp" placeholder="Enter Your OTP">
                                    <input type="submit" value="Submit">
    
                                </form>
                                <p class="form-messege"></p>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            
            </div>
        </div>
    </div><!-- Contact Section End-->
    

</div><!-- Main Wrapper End -->


</body>

</html>
{% endblock %}