{% extends 'header.html' %}
{% load static %}
{% block content %}

<!doctype html>
<html class="no-js" lang="en">


<head>
    
</head>

<body>

<!-- Main Wrapper Start -->
<div id="main-wrapper" class="section">
    
    
       
    <!-- Page Banner Section Start-->
    <div class="page-banner-section section" style="background-image: url({% static 'img/bg/page-banner.jpg' %})">
        <div class="container">
            <div class="row">
                
                <!-- Page Title Start -->
                <div class="page-title text-center col">
                    <h1>shop page</h1>
                </div><!-- Page Title End -->
                
            </div>
        </div>
    </div><!-- Page Banner Section End-->
    
    
       
    <!-- Product Section Start-->
    <div class="product-section section pt-120 pb-120">
        <div class="container">
            <nav class="navbar navbar-dark bg-dark">
        <!-- <ul class="section-tab-nav tab-nav"> -->
            <a href="{% url 'user_product_filter' pc='Leptop' %}">Laptops</a>
            <a href="{% url 'user_product_filter' pc='Mobile' %}">Smartphones</a>
            <a href="{% url 'user_product_filter' pc='Camera' %}">Cameras</a>
            <a href="{% url 'user_product_filter' pc='All' %}">All</a>
            <!-- </ul> -->
            </nav>
            
            <!-- Product Wrapper Start-->
            <div class="row">
                
                <!-- Product Start-->
                {% for i in products %}
                <div class="col-lg-4 col-md-6 col-12 mb-60">
                   
                    <div class="product">

                        <!-- Image Wrapper -->
                        <div class="image">
                            <!-- Image -->
                            <a href="{% url 'product_detail' pk=i.pk %}" class="img"><img src="{{i.product_image.url}}" style="height: 300px;" alt="Product"></a>
                            <!-- Wishlist -->
                            <!-- if condition
                            <a href="#" class="wishlist"><i class="fa fa-heart"></i></a> -->

                            

                            <a href="#" class="wishlist"><i class="fa fa-heart-o"></i></a>

                        
                            <!-- Label -->
                            <!-- <span class="label">New</span> -->
                        </div>
                        
                        <!-- Content -->
                        <div class="content">
                            
                            <!-- Head Content -->
                            <div class="head fix">
                               
                                <!-- Title & Category -->
                                <div class="title-category float-left">
                                    <h5 class="title"><a href="{% url 'product_detail' pk=i.pk %}">{{i.product_name}}</a></h5>
                                    <a href="shop.html" class="category">{{i.product_category}}</a>
                                </div>
                                <!-- Price -->
                                <div class="price float-right">
                                    <span class="new">Rs.{{i.product_price}}</span>
                                    <!-- Old Price Mockup If Need -->
                                    <!-- <span class="old">$46</span> -->
                                </div>
                                
                            </div>
                            
                            <!-- Action Button -->
                                {% if cart_flag %}
                                <div class="action-button fix">
                                    <a href="{% url 'remove_from_cart' pk=i.pk %}">remove from cart</a>
                                </div>                            
                                 {% else %}
                                <div class="action-button fix">
                                    <a href="{% url 'add_to_cart' pk=i.pk %}">add to cart</a>
                                </div>
                                 {% endif %}
                            
                        </div>

                    </div>
                    
                </div>
                {% endfor %}
                <!-- Product End-->
                
                
                <!-- Pagination Start -->
                <div class="pagination col-12 mt-20">
                    <ul>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li class="arrows"><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div><!-- Pagination End -->
                
            </div><!-- Product Wrapper End-->
            
        </div>
    </div><!-- Product Section End-->

</div><!-- Main Wrapper End -->
</body>

</html>
{% endblock %}