{% extends 'header.html' %}
{% load static %}
{% block content %}
<!doctype html>
<html class="no-js" lang="en">


<head>
</head>

<body>

<!-- Main Wrapper Start
<div id="main-wrapper" class="section">
    
       
    Page Banner Section Start-->
    <div class="page-banner-section section" style="background-image: url({% static 'img/bg/page-banner.jpg' %})">
        <div class="container">
            <div class="row">
                
                <!-- Page Title Start -->
                <div class="page-title text-center col">
                    <h1>Wishlist</h1>
                </div><!-- Page Title End -->
                
            </div>
        </div>
    </div><!-- Page Banner Section End-->
    
       
    <!-- Wishlist Section Start-->
    <div class="wishlist-section section pt-120 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-12">
                   
                    <div class="table-responsive mb-30">
                        <table class="table cart-table text-center">
                            
                            <!-- Table Head -->
                            {% if wishlist %}
                            <thead>
                                <tr>
                                    <th class="number">#</th>
                                    <th class="image">image</th>
                                    <th class="name">product name</th>
                                    <th class="qty">stock status</th>
                                    <th class="price">price</th>
                                    <th class="total">add to cart</th>
                                    <th class="remove">remove</th>
                                </tr>
                            </thead>
                            
                            <!-- Table Body -->
                            <tbody>
                                {% for i in wishlist %}
                                <tr>
                                    <td><span class="cart-number">1</span></td>
                                    <td><a href="{% url 'product_detail' pk=i.products.pk %}" class="cart-pro-image"><img src="{{i.products.product_image.url}}" height="75px" width="75px" alt="" /></a></td>
                                    <td><a href="#" class="cart-pro-title">{{i.products.product_name}}</a></td>
                                    <td><p class="stock in-stock">in stock</p></td>
                                    <td><p class="cart-pro-price">Rs.{{i.products.product_price}}</p></td>
                                    <td> <a href="{% url 'add_to_cart' pk=i.products.pk %}"><button class="wl-add-cart-btn">add to cart</button></a></td>
                                    <td>
                                        <a href="{% url 'remove_from_wishlist' pk=i.products.pk %}">
                                        <button class="cart-pro-remove"><i class="fa fa-trash-o"></i></button>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                                {% else %}
                                    <h2 align="center" >*No Products In Wishlist*</h2>
                                {% endif %}
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div><!-- Wishlist Section End-->


</div><!-- Main Wrapper End -->
<script>
    $(document).ready(function() {
        function disableBack() { window.history.forward() }

        window.onload = disableBack();
        window.onpageshow = function(evt) { if (evt.persisted) disableBack() }
    });
</script>

</body>


</html>

{% endblock %}